.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}
.row--noGutter {
    margin-left: 0;
    margin-right: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    flex: 0 0 100%;
}

.noGutter {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 767px) {
    .col-1 {
        max-width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col-2 {
        max-width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-4 {
        max-width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col-5 {
        max-width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-7 {
        max-width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col-8 {
        max-width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    .col-10 {
        max-width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col-11 {
        max-width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}