
/*---------- 範圍設定 ----------*/
* {
    box-sizing: border-box;
    font-family: "Segoe UI","微軟正黑體",sans-serif;
    font-size: 1rem;;
    color: #5E5E5E;
}

.l-container {
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
.l-wrap {
    max-width: 100%;
    padding: 0 15px ;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.l-wrap--nav {
    padding-left: 0;
    padding-right: 0;
}
.l-wrap--none {
    padding: 0px;
}
    @media (min-width: 480px) {
        .l-wrap {
            max-width: 608px;
        }
        .l-wrap--nav {
            padding: 0px 15px;
        }
        .l-wrap--none {
            max-width: 100%;
        }
    }
    @media (min-width: 950px) {
        .l-wrap {
            max-width: 1088px;
        }
        .l-wrap--none {
            max-width: 100%;
        }
    }

/*---------- 元件共用 ----------*/
/* 背景 */
.l-main {
    max-width: 1920px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #01cec8;
}
.l-main__result {
    background-color: #FFF4E6;
}
.l-main__header {
    background-color: #fff;
}
.l-bg {
    height: 100%;
    width: 100%;
    position: absolute;
}
.l-bg__img {
    background-image: url(../images/D_bg01.png);
    background-position-x: 50%;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
    height: 540px;
}
.l-bg__result {
    background-color: #fff;
    height: 400px;
}

    @media (min-width: 480px) {
        .l-bg__img {
            height: 730px;
        }
        .l-bg__result {
            background-image: url(../images/D_bg04.png);
            background-position-x: 50%;
            background-position-y: top;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -10;
            height: 400px;           
        }
        .l-main--nobg {
            background-color:transparent;
        }
    }
    @media (min-width: 950px) {
        .l-bg__img {
            height: 818px;
        }
        .l-bg__result {
            height: 500px;
        }
    }
/* 圖片 */
.l-img__space {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
    @media (min-width: 480px) {
        .l-bg__img {
            height: 730px;
        }
        .l-img__space {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }


/*---------- 通用類別 ----------*/
/* 內文文字 */
.l-text {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}
.l-text__left {
    text-align: left;
}
.l-text__lg {
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
}
.l-text__title {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.l-text__subTitle {
    line-height: 1.5rem;
    padding-bottom: 20px;
}
.l-text__subTitle--color {
    color: #fff;
}

    @media (min-width: 480px) {
        .l-text {
            font-size: 1.2rem;
        }
        .l-text__title {
            letter-spacing: 0.5rem;
            font-size: 4rem;
            line-height: 5rem;
        }
        .l-text__subTitle {
            line-height: 2rem;
        }
    }
    @media (min-width: 950px) {
        .l-text {
            font-size: 1.2rem;
        }
        .l-text__title {
            letter-spacing: 0.5rem;
            font-size: 4rem;
            line-height: 5rem;
        }
        .l-text__subTitle {
            letter-spacing: 0.1rem;
            line-height: 2.2rem;
        }
        
    }

/* card */
.l-card{
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
}
.l-card__title {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.l-card__content--title {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.l-card__space {
    margin-top: 20px;
}


    @media (min-width: 480px) {
        .l-card__content {
            text-align: left;
        }
    }
    @media (min-width: 950px) {
        .l-card__content{
            font-size: 1.2rem;
        }
    }

/* inputList 選單項目 */
.l-inputList {
    margin-left: auto;
    margin-right: auto;
    max-width: 845px;
    padding-bottom: 30px;
}
.l-inputList__item {
    background-color: #fff;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 8px;
}
.l-inputList__item--style {
    background-color: #fff;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin-bottom: 8px;
    line-height: 20px
}
.l-inputList__item--title {
    background-color: #417200;
    color: #fff;
    margin-bottom: 0px;
    text-align: left;
}
.l-inputList__item--dolphin {
    background-color: #00cec8;
    color: #fff;
    margin-bottom: 0px;
    text-align: left;
}
.l-inputList__item--line {
    margin-bottom: 0px;
    border-bottom: 1px solid #efefef;
}
.l-inputList__group {
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
}
.l-inputList__space {
    margin-bottom: 0px;
}
.pure-checkbox, .pure-radio {
    display: block;
}
    @media (min-width: 480px) {
        .l-inputList__item {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
/* approach錨點 */
.l-approach {
    background-color: #00cec8;
    border-bottom: 1px solid #fff;
    line-height: 3rem;
}

.l-approach__link {
    display: block;
    color: #fff;
    padding-left: 20px;
}
.l-approach__link:hover,
.l-approach__link:focus {
    background-color: #cbce01;
}
    @media (min-width: 480px) {
        .l-approach {
            width: calc(100% / 4);
        }
        .l-approach__flex {
            display: flex;
        }
        .l-approach__btnLeft,
        .l-approach__link--left{
            border-radius: 30px 0px 0px 30px;
        }
        .l-approach__btnRight,
        .l-approach__link--right {
            border-radius: 0px 30px 30px 0px;
        }
        .l-approach__btn--dashed {
            border-right: 1px dashed #fff4e6;
        }
        .l-approach__link{
            padding-left: 0px;
            text-align: center;
        }
        .l-approach__link:hover,
        .l-approach__link:focus {
            background-color: #cbce01;
        }
        .l-approach__link--right:hover,
        .l-approach__link--right:focus {
            border-radius: 0px 30px 30px 0px;
        }
        .l-approach__link--left:hover,
        .l-approach__link--left:focus {
            border-radius: 30px 0px 0px 30px;
        }
    }

/* button按鈕 */
.l-btn {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-radius: 50px;
}
.l-btn__style {
    border: 1px solid #5E5E5E;
    background-color:#ffffff;
    font-weight: 500;
}
.l-btn__style:hover,
.l-btn__style:focus {
    background-color: #ffc400;
    border: 1px solid #ffc400;
    color: #fff;
}
.l-btn__style:focus {
    outline: 0;
}
.l-btn__style[disabled],
.l-btn__style-disabled,
.l-btn__style-disabled:hover,
.l-btn__style-disabled:focus {
    border: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    color: #a3a3a3;
    background-color: #5E5E5E;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}
.l-btn__lg {
    width: 260px;
    height: 48px;
    line-height: 48px;
    background-color: #FF6739;
    border: 1px solid #FF6739;
    color: #fff;
}

    @media (min-width: 480px) {
        .l-btn__right {
            margin-left: 0px;
            margin-bottom: 0px;
        }
    }

/* D版跟Ｍ版隱藏開啟控制 */
.M_open {
    display: block;
}

.M_close {
    display: none;
}

    @media (min-width: 480px) {
        .D_open {
            display: block;
        }
        .D_close {
            display: none;
        }
    }
    


/* 清除浮動 */
.clearFix {
    overflow: hidden;
    clear: both;
}

/* gototop回到頂部 */
.gototop{
    width:50px;
    height:50px;
    line-height:50px;
    font-family:verdana;
    text-align:center;
    background-color:rgb(0, 0, 0, 0.4);
    color:#fff;
    position:fixed;
    bottom:20px;
    right:20px;
    z-index: 300;
    border-radius:50%;
    text-decoration:none;
    cursor: pointer;
    /*先隱藏*/
    display:none;
}
.gototop__link {
    color: rgb(255, 255, 255, 0.6);
}

/*---------- end 通用類別 ----------*/











/*---------- header ----------*/
/* 導航列 */
.l-head {
    padding-top: 10px;
    transition: all .3s;
}
.l-head:after, .l-head:before {
    content: " ";
    display: table;
}
.l-head__logo {
    float: left;
}
.l-head__nav {
    float: right;
    display: none;
    position: fixed;
    z-index: 300;
    top: 95px;
    left: 0;
    width: 100%;
    transition: all .5s;
}
.c-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.c-navItem {
    border-bottom: 1px dashed #fff;
}
.c-navItem__a {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: 20px; 
    color:#fff;
    transition: all .3s;
}
.c-navItem__a:focus {
    background-color: #00cec8;
}
.c-navItem__a:hover {
    color: #fffb5e;
    background-color: #00cec8;
}
.l-head__hambuger {
    display: block;
    float: right;
    padding: 15px 0;
}
.c-iHeader {
    display: inline-block;
    vertical-align: middle;
}
.c-iHeader {
    width: 30px;
    height: 30px;
    background-size: contain;
    display: inline-block;
    
}
.c-iHeader--open {
    background-image: url("../images/icon_menu.svg");
    background-image: url("../images/icon_menu.png");
}
.c-iHeader--close {
    background-image: url("../images/icon_menuClose.svg");
}
.is-menuDefault {
    display: block;
}
.is-menuClick {
    display: none;
}

.c-menuMask {
    display: none;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(14, 69, 71, 0.9);
    overflow: hidden;
}

/* menuOpen控制 */
.is-menuOpen .l-head__nav {
    display: block;
    opacity: 1;
}
.is-menuOpen .c-menuMask {
    display: block;
}
.is-menuOpen .is-menuDefault {
    display: none;
}
.is-menuOpen .is-menuClick {
    display: block;
    z-index: 300;
    position: relative;
}
    @media (min-width: 950px) {
        .l-head__hambuger {
            display: none;
        }
        .l-head__nav {
            display: block;
            position: relative;
            top:0px;
            right: 0px;
            width: auto;
        }
        
        .c-nav {
            display: flex;
            padding-top: 5px;
        }
        .c-navItem {
            border-bottom: none;
            padding: 0 10px;
        }
        .c-navItem__a {
            font-size: 1.2rem; 
            color: #5E5E5E;
        }
        .c-navItem__a:hover {
            color: #00cec8;
            background-color: transparent;
        }
        .c-navItem__a:focus {
            background-color:transparent;
        }
    }
    



/*---------- footer ----------*/
.l-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
}
.l-footer__font {
    text-align: center;
    color: #5E5E5E;
    font-size: 0.9rem;
}
    @media (min-width: 480px) {
        .l-footer__font {
            font-size: 1rem;
        }
    }

